@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "capriola",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to bottom, #5938ec, #ec1717);
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
}

.clock-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70dvw;
    height: 50dvh;
    border-radius: 30px;
    border: 1px solid #333;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.705);
    background-image: linear-gradient(to bottom, rgba(70, 68, 185, 0.651), rgba(69, 212, 69, 0.733), #b37937bd,#f14040da);
}

.hand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4dvw;
    width: 15dvw;
    height: 33dvh;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.705);
    background-color: #333;
    color: white;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3dvw;
    height: 1.3dvw;
    border-radius: 50%;
    margin: 2dvw 0;
    background-color: white;
}